{% extends "enlite-admin/layout/layout" %}

{% block content %}

    <div class="page-header">
        <h1>Edit {{ entity.name }}</h1>
    </div>

    {% do form.setAttribute('action', url('admin/entity/entity/edit', {'entity': entity.name, 'id': row.id})) %}
    {{ form(form) }}

{% endblock %}
