@import "bootstrap.min.css";

html, body {
    height: 100%;
}

.admin .container,
.admin .container > .row {
    min-height: 100%;
    height: 100%;
    float: left;
    width: 100%;
}

.admin .sidebar {
    background: #2C3E50;
    margin: 0;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

    .admin .sidebar .logo {
        font-size: 20px;
        font-weight: 200;
        color: #fff;
        text-decoration: none;
        margin-bottom: 20px;
        display: block;
    }

    .admin .sidebar .nav-list {
        padding-left: 0;
    }

        .admin .sidebar .sidebar-nav A {
            color: #fff;
            text-decoration: none;
            text-shadow: none;
        }

        .admin .sidebar .sidebar-nav A:hover {
            color: #1abc9c;
            background: none;
            text-shadow: none;
        }

        .admin .sidebar .sidebar-nav li.active>A {
            color: #1abc9c;
            background: none;
            text-shadow: none;
        }

.admin .content {
}

